{% extends 'account/account.html' %}

{% block account_content %}
<div class="account-content">
    <h2>Edit Event</h2>

    <form action="{{ url_for('edit_event', event_id=event.id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% if current_user.role == 'admin' %}
                <label for="is_themove">The Move</label>
                <input type="checkbox" name="is_themove" id="is_themove" {{ 'checked' if is_themove else '' }}>
        {% endif %}

        <div class="form-group">
            <label for="name">Event Name</label>
            {{ form.name(class="form-control", id="name") }}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            
        </div>


        <div class="form-group">
            <label for="description">Event Description</label>
            {{ form.description(class="form-control", id="description") }}
            {% for error in form.description.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="time_date">Event Date and Time</label>
            {{ form.time_date(class="form-control", id="time_date", type="datetime-local") }}
            {% for error in form.time_date.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="venue_id">Venue</label>
            {{ form.venue_id(class="form-control", id="venue_id") }}
            {% for error in form.venue_id.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="image">Event Image</label>
            {{ form.image(class="form-control-file", id="image") }}
            {% if event.image_path %}
                <img src="{{ event.image_path if event.image_path else 'images/default_event_image.jpg' }}" alt="Event Image" height="100">
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
