<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>{% block title %}The Move Nashville{% endblock %}</title>
	 <meta name="description" content="{% block description %}Default description{% endblock %}">
	 <!-- Open Graph / Facebook -->
	 <meta property="og:type" content="website">
	 <meta property="og:title" content="{% block og_title %}The Move Nashville | The Move{% endblock %}">
	 <meta property="og:description" content="{% block og_description %}Default description{% endblock %}">
	 <meta property="og:image" content="{% block og_image %}Default Image URL{% endblock %}">
	 <!-- Twitter -->
	 <meta property="twitter:card" content="summary_large_image">
	 <meta property="twitter:title" content="{% block twitter_title %}Default Title | The Move{% endblock %}">
	 <meta property="twitter:description" content="{% block twitter_description %}Default description{% endblock %}">
	 <meta property="twitter:image" content="{% block twitter_image %}Default Image URL{% endblock %}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	 <link rel="icon" href="{{ url_for('static', filename='images/themove-icon-highlight.png') }}" type="image/x-icon">

	<!-- Google Analytics -->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CF8C8S5Y56"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-CF8C8S5Y56');
	</script>
	 <!-- End Google Analytics -->
</head>
<body>
	<header>
			<div class="container">
					<!-- <h1><a href="{{ url_for('home') }}">The Move Nashville</a></h1> -->
					<a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/the-move-logo-invert.png') }}"></a></img> 
					<nav>
							<ul>
									<li><a href="{{ url_for('home') }}">The Move</a></li>
									<li><a href="{{ url_for('venue_list') }}">Venues</a></li>
									<li><a href="{{ url_for('add_event') }}">Add Event</a></li>
								{% if current_user.is_authenticated %}
									 <li><a href="{{ url_for('account_profile') }}">My Account</a></li>
								{% else %}
									 <li><a href="{{ url_for('login') }}">Login</a></li>
								{% endif %}
							</ul>
						
					</nav>

			</div>

	</header>
    <main class="container">
			{% for message in get_flashed_messages() %}
			<div class="flash-message">
				 {{ message }}
			</div>
			{% endfor %}
        {% block content %}
        {% endblock %}
    </main>
	 <footer>
		  <div class="container">
				<p>&copy; 2023 The Move. All Rights Reserved.</p>
				<!-- Social media icons -->
				<div class="social-media-icons">
					 <a href="https://www.facebook.com/themovenash" target="_blank" title="Follow us on Facebook">
						  <img src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="Facebook">
					 </a>
					 <a href="https://www.instagram.com/themovenashville" target="_blank" title="Follow us on Instagram">
						  <img src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="Instagram">
					 </a>
				</div>
		  </div>
	 </footer>
</body>
</html>
