{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Add this block to your home.html where you want the form -->
    <div class="email-capture-container">
      <form class="email-capture-form" action="{{ url_for('capture_email') }}" method="post">
        {{ form.hidden_tag() }}
        <input class="email-input" type="email" name="email" placeholder="Enter your email">
        <button class="email-submit" type="submit">Get on The List</button>
      </form>
    </div>

    <h1>Upcoming Events (Comming Soon)</h1>
    <div class="card-container">
        {% for event, venue in events %}
        <a href="{{ url_for('event_detail', slug=event.slug) }}" class="card-link">

        <div class="card">
            <div class="event-image-container">
                <img src="{{ url_for('static', filename='images/venues/' ~ venue.slug ~ '/' ~ event.image_path if event.image_path else 'images/default_event_image.jpg') }}" alt="{{ event.name }}">
            </div>
            <div class="card-content">
                <h2>{{ event.name }}</h2>
                <p class="event-location">{{ venue.name }}</p>
                <p class="event-date">{{ event.time_date.strftime('%A, %B %d, %Y %I:%M %p') }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}
