{% extends 'base.html' %}
{% block title %}{{ venue.name }} | The Move{% endblock %}
<!-- {% block description %}{{ venue.description | truncate(160) }}{% endblock %} -->
{% block og_title %}{{ venue.name }} | The Move{% endblock %}
<!-- {% block og_description %}{{ venue.description | truncate(160) }}{% endblock %} -->
{% block og_image %}{{ venue.image_path }}{% endblock %}
{% block twitter_title %}{{ venue.name }} | The Move{% endblock %}
<!-- {% block twitter_description %}{{ venue.description | truncate(160) }}{% endblock %} -->
{% block twitter_image %}{{ venue.image_path }}{% endblock %}
{% block content %}
<!-- Venue Details Card -->
<div class="event-container">
    <div class="event-detail-card">
        <!-- Conditional Venue Cover Image -->
        {% if venue.image_path %}
        <div class="venue-image-container">
            <img src="{{ venue.image_path }}" alt="{{ venue.name }}">
        </div>
        {% endif %}
        <div class="event-details">
            <h2>{{ venue.name }}</h2>
            <!-- Venue information -->
            <p>
              {% if venue.description %}
                {{ venue.description | truncate(160) }}
              {% else %}
                Default description or some placeholder text.
              {% endif %}
         </p>
            <p><strong>Address:</strong> {{ venue.address_1 }}{% if venue.address_2 %} {{ venue.address_2 }}{% endif %}</p>
            <p><strong>City:</strong> {{ venue.city }}</p>
            <p><strong>State:</strong> {{ venue.state }}</p>
            <p><strong>Postal Code:</strong> {{ venue.zip }}</p>
            <p><strong>Phone:</strong> {{ venue.phone }}</p>
            <p><strong>Website:</strong> <a href="{{ venue.website }}">{{ venue.website }}</a></p>
            <!-- Instagram link -->
            <p><strong>Instagram:</strong> <a href="https://instagram.com/{{ venue.instagram_handle }}">@{{ venue.instagram_handle }}</a></p>
            <!-- Placeholder for other venue information -->
        </div>
    </div>

</div>
<div class="upcoming-events-title">
    <h2>Upcoming Events</h2>
</div>
<div class="upcoming-card-container">
    {% for event in upcoming_events %}
    <a href="{{ url_for('event_detail', slug=event.slug) }}">
        <div class="upcoming-card" style="background-image: url('{{ event.image_path }}'); background-size: cover; background-position: center; color: white;">
             <div class="upcoming-card-content">
                <h2>{{ event.name }}</h2>
                <p>{{ event.time_date.strftime('%Y-%m-%d %H:%M') }}</p>
             </div>
        </div>
    </a>

    {% else %}
</div>
    <div class="upcoming-events-title">
            <p>No upcoming events.</p>
    </div>
    {% endfor %}


{% endblock %}
